
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Limited Notifications</title>
    </head>
    <body>
        <div id="app">
            <hr>
            <div class="header">
                <h3>Add an Item</h3>
                <div class="id">Id: <input type="text" v-model="addId"></div><br>
                <div class="price">Price: <input type="text" v-model="addPrice"></div><br>
                <button @click="addItem()">Add</button><br>
            </div>
            <hr>
            <div class="items">
                <div class="item" v-for="item in items">
                    <span class="item-name"><a :href="item.link"> {{ item.name }}</a></span><br>
                    <span class="item-price">Price looking for: {{ item.price }}</span><br>
                    <span class="item-price">Price: {{ item.scanprice }}</span><br>
                    <button @click="items = items.filter(x => x != item)">Delete</button><br>
                    <h2 style="margin-top: 10px;" v-if="item.scanprice < item.price" class="costs-less">Item costs less than the entered price</h2>
                    <hr>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="index.js"></script>
    </body>
</html>